/* BOT CONFIG */
var config = {
  token: '', // TOKEN Here
  prefix: '!', //PREFIX
  ModLogChannelID: '', //LOG CHANNEL
  ErrorLogChannelID: '', //ERROR LOG CHANNEL
  botstatus: '!help', //STATUS NAME
  botstatustype: 'WATCHING', //STATUS TYPE
  deletemessagetime: '5',
  shortdeletetime: '3',
  mediumdeletetime: '5',
  longdeletetime: '10',
};
module.exports = config;